page-propose-pickup-to-hichhaker {

  .toolbar-button {
    border-radius: 0;
    display: inline-block;
    margin: 0;
    width: 50%;
  }

  .button-cancel {
    background-color: #ef473a;
  }

  .button-confirm {
    background-color: #33cd5f;
    position: absolute;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .footer-header{
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 15px;
    text-align: center;
    font-family: inherit;
    color: white;
  }

  sebm-google-map {
    height: calc(100% - 72px) !important;
  }
}
