page-driver-pickup {
    .toolbar-button {
        border-radius: 0;
        display: inline-block;
        margin: 0;
        width: calc(50% - 2px);
    }

    .button-cancel {
        background-color: #ef473a;
    }

    .button-confirm {
        background-color: #33cd5f;
        position: absolute;
    }
}

.sebm-google-map-container {
  height: 100%
}
