page-mode-select {
  .mode-button {
    height: calc(50% - 10px);
    width: 100%;

    .text-row {
      ion-label {
        font-size: 175%;
      }
    }

    .icon-row {
      ion-icon {
        font-size: 500%;
        text-align: center;
        width: 100%;
      }
    }
  }
}
