page-mode-select {
  .mb1{
    background-color: map-get($colors, secondary);
    height: 40%;
    width: 80%;
    position: absolute;
    left: 10%;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 10px;
    img{
      width: 100%;
      height: auto;
    }
  }

  .mb2{
    background-color: map-get($colors, third);
    height: 40%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 10%;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 10px;
    img{
      width: 80%;
      height: auto;
    }
  }
}
